<p><a href="/snip/create">Create Snippet</a></p>
<p><a href="/snip/user/<%= username %>">View My Snippets</a></p>
<p><a href="/search">Search</a></p>
<p><a href="/login">Login/Register</a></p>
<p><a href="/logout">Logout</a></p>
