<% include ./partials/head %>
<% include ./partials/header %>
<% include ./partials/navbar %>

<div class='code-snip-app'>

  <div class='sidebar-content'>
    Side bar
  </div>

  <div class='main-content'>
    <% include ./partials/snippet %>
  </div>

</div>

<% include ./partials/footer %>
<% include ./partials/foot %>
