.header {
  margin: 0;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  /*position: fixed;*/
  z-index: 10;
  background-color: rgb(227, 209, 245);
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.code-snip-app {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.sidebar-content {
  flex-basis: 20%;
  z-index: 5;
}

.main-content {
  flex-basis: 70%;
  z-index: 5;
}

.card-snippet {
  margin: 10px;
}

.snippet-title {
  font-size: 20pt;
}

.snippet-created {
  margin: 5px 0;
}

.snippet-modified {

}

.snippet-tags {

}

.flush-right {
  text-align: right;
}

.card-body {
  padding: 0;
}

textarea {
  margin: 0;
}

.small-italics {
  font-size: 8pt;
  font-style: italic;
}
